.recipePicture {
  width: 400px;
  height: 300px;
  border-radius: 20px;
  background-size: cover;
  background-position: center;
}

.recipeCard {

  padding: 50px;
  border-radius: 15px;
  border: none;
  max-width: 3000px;
  background-color: rgba(231,231,231);
  box-shadow:15px 10px 8px #0000001c;
  margin-bottom: 50px;
}

body {
  font-family: 'Nunito', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #333;
  text-align: center;
}